body {
    background: #2c2c2c;
}

body .col-md-8 li {
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}


body h2 {
    color: #eb5959;
    margin-top: 20px;
    font-size: 30px;
}

body p {
    color: #fff
}

body em {
    color: #ff00ff
}