{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}

<h2 class="text-danger">{{article.title}}</h2>

<p class="text-dark">{{article.text}}</p>

<em class="text-muted">{{article.date}}</em>

<hr>

{% if comments %}

    {% for comment in comments %}
        <p>
            <strong class="text-danger">{% if comment.author %}{{ comment.author }}{% else %}Guest{% endif %}</strong>
            <p class="text-dark">{{comment.comment_text}}</p>
            <small class="text-muted">{{comment.date}}</small>
        </p>
    {% endfor %}

{% else %}
<p>There are no comments yet! You can be first.</p>
{% endif %}

<hr>

<form method="POST" class="post-form" action="{% url 'news:create_comment' article.id %}">{% csrf_token %}
    {% if user.is_authenticated %}
        <h5 class="text-danger">{{ user.email }}</h5>
    {% else %}
        <h5 class="text-danger">Guest</h5>
    {% endif %}
        <p class="text-muted">{{ comment_form.comment_text.label }}:<br>{{ comment_form.comment_text }}</p>
    <button type="submit" class="btn btn-danger">Create comment</button>
</form>

{% endblock %}