{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}

<h2>{{article.title}}</h2>

<p>{{article.text}}</p>

<em>{{article.date}}</em>

<hr>

{% if latest_comments %}

    {% for c in latest_comments %}
        <p>
            <strong>{{c.author_name}}</strong>
            <p>{{c.comment_text}}</p>
        </p>
    {% endfor %}

{% else %}
There are no comments yet! You can be first.
{% endif %}

<hr>

<form method="POST" class="post-form" action="{% url 'news:create_comment' article.id %}">{% csrf_token %}
    <p>{{ comment_form.author_name.label }}:<br>{{ comment_form.author_name }}</p>
    <p>{{ comment_form.comment_text.label }}:<br>{{ comment_form.comment_text }}</p>
    <button type="submit" class="btn btn-danger">Create comment</button>
</form>

{% endblock %}