{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}

<h2 style="color:#fe019a">{{article.title}}</h2>

<p style="color:#ffffff">{{article.text}}</p>

<em class="text-muted">{{article.date}}</em>

<hr>

{% if latest_comments %}

    {% for c in latest_comments %}
        <p>
            <strong style="color:#00ffff">{{c.author_name}}</strong>
            <p style="color:#ffffff">{{c.comment_text}}</p>
        </p>
    {% endfor %}

{% else %}
There are no comments yet! You can be first.
{% endif %}

<hr>

<form method="POST" class="post-form" action="{% url 'news:create_comment' article.id %}">{% csrf_token %}
    <p style="color:#fe019a">{{ comment_form.author_name.label }}:<br>{{ comment_form.author_name }}</p>
    <p style="color:#fe019a">{{ comment_form.comment_text.label }}:<br>{{ comment_form.comment_text }}</p>
    <button type="submit" class="btn btn-info">Create comment</button>
</form>

{% endblock %}