{% extends 'base.html' %}

{% block title %}Latest articles{% endblock %}

{% block content %}
    <div class="features" style="color:#dc143c">
        <h1>LATEST ARTICLES</h1>

        {% if object_list %}

            {% for article in object_list %}
                <div class="card mb-3" style="border-width:5px; border-color:#dc143c; background-color:#dc143c">
                    <a class="card-block stretched-link text-decoration-none" href="{% url 'news:article' article.id %}">
                        {% if article.picture %}
                            <img src="{{article.picture.url}}" class="card-img-top" alt="picture">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-warning">{{article.title}}</h5>
                            <p class="card-text text-dark">{{article.text|truncatechars:100}}</p>
                            <p class="card-text"><small class="text-warning">{{article.date}}</small></p>
                        </div>
                    </a>
                </div>
            {% endfor %}

        {% else %}
            Articles not found.
        {% endif %}
    </div>
{% endblock %}