{% extends 'base.html' %}

{% block title %}Latest articles{% endblock %}

{% block content %}
    <div class="features">
        <h1>Latest articles</h1>

        {% if articles_list %}

            {% for a in articles_list %}
                <div class="alert alert-danger">
                    <li><a href="{% url 'news:article' a.id %}">{{a.title}}</a></li>

                </div>
            {% endfor %}

        {% else %}
            Articles not found.
        {% endif %}
    </div>
{% endblock %}